* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

main {
  height: 75%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

canvas {
  width: 40em;
  height: 30em;
  border: 2px solid #404244;
  background: #405238;
}

.hidden {
  display: none;
}